{
    email samay15jan@gmail.com
}

vpn.samay15jan.com {
    reverse_proxy localhost:3000
}

backend.vpn.samay15jan.com {
    reverse_proxy localhost:3001
}

docs.vpn.samay15jan.com {
    reverse_proxy localhost:3002
}

wg.vpn.samay15jan.com {
    reverse_proxy localhost:51821
}

hs.vpn.samay15jan.com {
    handle_path /admin* {
        reverse_proxy localhost:3003
    }

    handle {
        reverse_proxy localhost:51822
    }
}